/* +++++++++++++++++++++++++++++++++ css-file[start] modules/root/style.css */

.module-style {
    background: #c1c1c1;
    height: 200px;
}

.module-style .lazy-load-container {
    height: 70px;
}
/* +++++++++++++++++++++++++++++++++ css-file[end]   modules/root/style.css */
