/* +++++++++++++++++++++++++++++++++ style-file[start] modules/font-test/style.less */

@import "~common/styles-init/index";

:local(.module-style) {
    .module-style(4px);
    background: #dfd;
    p { margin:0; padding:0;}
    .thin { font-family: 'RobotoThin'; }
    .light { font-family: 'RobotoLight'; }
    .regular { font-family: 'RobotoRegular'; }
    .medium { font-family: 'RobotoMedium'; }
    .bold { font-family: 'RobotoBold'; }
    .black { font-family: 'RobotoBlack'; }
}

/* +++++++++++++++++++++++++++++++++ style-file[end]   modules/font-test/style.less */
